.homepage {
    padding: 0 4rem;
    height: calc(100vh - 6.5rem);

    h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}

.carousel {
    
    padding: 2rem;
    max-width: 90vw;
    max-height: 65vh;

    .slider {

        justify-content: center;
        background-image: src('/gabi-foto.jpg');

    }
    

}